.edu {
  float: left;
  padding: 20px;
}
body{
  width:auto;
  background-color: #999966;
  font-family: sans-serif;
}
#proj{
  clear:both;
}
ul{
  float: right;
}
ul>li{
  float:left;
  display:block;
  padding: 20px;
}
ul>li>a{
  text-decoration: none;
  font-size: 20px;
  color:white;
}
ul>li>a:hover{
  color: tomato;
}
#head{
  clear: right;
  text-align: center;
  padding-bottom: 40px;
}
#about{
  padding-top: 30px;
  padding-bottom: 40px;
}
#proj{
  padding-top: 30px;
  padding-bottom: 40px;
}
h2{
  border: 2px solid white;
  border-radius: 20px;
  background-color: brown;
  width: 30%;
  padding: 20px;
}
#contacts{
  display:flex;
  justify-content:space-between;
  background-color: #800000;
  padding: 20px;
}
.copy{
  margin-left: 50px;
}
