.edu {
  float: left;
  padding: 20px;
}
body{
  width:auto;
  background-color: #999966;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}
#proj{
  clear:both;
}
ul{
  float: right;
}
ul>li{
  float:left;
  display:block;
  padding: 20px;
}
ul>li>a{
  text-decoration: none;
  font-size: 20px;
  color:white;
}
ul>li>a:hover{
  color: tomato;
}
#head{
  clear: right;
  text-align: center;
  padding-bottom: 40px;
}
#about{
  padding-top: 30px;
  padding-bottom: 40px;
}
#proj{
  padding-top: 30px;
  padding-bottom: 40px;
}
h2{
  border: 2px solid white;
  border-radius: 20px;
  background-color: brown;
  width: 30%;
  padding: 20px;
}
#contacts{
  display:flex;
  justify-content:space-between;
  background-color: #800000;
  padding:20px;
}
.copy{
  margin-left: 100px;
}
#services{
  clear:both;
}
.serv{
  padding-top:20px;
  padding-bottom:20px;
}
@media only screen and (max-width: 500px){
  body{
   font-size:20px;
   color: white;
  }
}
ol>li>a{
  text-decoration: none;
}
ol>li>a:hover{
  color:orange;
}
.container{
  padding: 20px;
}
.val{
  float: left;
}
