.edu {
  float: left;
  padding: 20px;
}
body{
  width:75%s;
  background-color: #999966;
  font-family: sans-serif;
}
#proj{
  clear:both;
}
ul{
  float: right;
}
ul>li{
  float:left;
  display:block;
  padding: 20px;
}
ul>li>a{
  text-decoration: none;
  font-size: 20px;
  color:white;
}
#head{
  clear: right;
}
